@namespace Front.Components.Modals
@using Clients.CustomGateway

@if (showModal)
{
    <div class="modal fade show" id="myModal" style="display:grid" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">@HeaderText</h4>
                    <button type="button" class="close" @onclick="@ModalCancel">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div>@Message</div>
                    <div class="text-danger">@OwnMessage</div>
                    <Front.Components.AuthService.UserList OnUserButtonClickedAsyncHandler="UserClicked" ButtonText="Select"/>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn" @onclick="@ModalCancel">Cancel</button>
                </div>

            </div>
        </div>
    </div>
}


@code {
    public string HeaderText { get; set; } = null!;

    public string Message { get; set; } = string.Empty;

    public string OwnMessage { get; set; } = string.Empty;

    bool showModal = false;

    public delegate Task OnCloseAsyncCallback(bool cancelled, UserDto? result);

    public event OnCloseAsyncCallback OnCloseAsync = (c, r) => { return Task.CompletedTask; };

    public void ModalShow(string header, string? message = null, string? value = null)
    {
        HeaderText = header;
        Message = string.IsNullOrEmpty(message) ? string.Empty : message;
        OwnMessage = string.Empty;
        showModal = true;
        StateHasChanged();
    }

    private async Task ModalCancel()
    {
        showModal = false;
        await OnCloseAsync(true, null);
        StateHasChanged();
    }

    public async Task UserClicked(UserDto user)
    {
        Console.WriteLine($"User selected {user.Id}");
        showModal = false;
        await OnCloseAsync(false, user);
        StateHasChanged();
    }
}
